<section class="shadow-sm " id="header-2">
    <div class="container ">
        <div class="row">

        {# A_SETTINGS menu #}
                <!-- menu -->
                <div id="header-2-sidenav" class="sidenav sidenav-close">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <nav class="container navbar navbar-expand-lg static-top">
                                    {# A_SETTINGS logo #}
                                    <a class="navbar-brand" href="{{ home }}">
                                        <img class="logo"
                                             src="{% if custom_logo_url %}{{ custom_logo_url }}{% else %}{{ stylesheet_directory_uri }}/img/logo-astratto-v2-b.png{% endif %}"
                                             height="25">
                                    </a>
                                    <button class="navbar-toggler d-block d-lg-none ml-auto hidden-sm-up float-xs-right"
                                            type="button"
                                            data-toggle="collapse" data-target="#navbarResponsive"
                                            aria-controls="navbarNav"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation">
                                                <span style="font-size:30px;cursor:pointer" class="closebtn"
                                                      onclick="closeNav()">
                                                    <i class="fas fa-times"></i></span>
                                    </button>
                                </nav>
                            </div>
                            <div class="overlay-content">
                                {% include "/views/headers/header-2/header-2-menu-mobile.twig" with {'primary_menu': primary_menu.get_items} %}
                            </div>
                        </div>
                    </div>
                </div>


                <script>

                    function openNav() {
                        document.getElementById("header-2-sidenav").classList.add("sidenav-open");
                        document.getElementById("header-2-sidenav").classList.remove("sidenav-close");
                        setTimeout(function () {
                            document.getElementById("header-2-sidenav").style.width = "100%";
                        }, 20);

                    }

                    function closeNav() {
                        document.getElementById("header-2-sidenav").classList.add("sidenav-close");
                        document.getElementById("header-2-sidenav").classList.remove("sidenav-open");
                        setTimeout(function () {
                            document.getElementById("header-2-sidenav").style.width = "0";
                        }, 500);

                    }


                </script>


                <nav class="container navbar navbar-expand-lg static-top">
                    <a class="navbar-brand" href="{{ home }}">
                        <img class="logo"
                             src="{% if custom_logo_url %}{{ custom_logo_url }}{% else %}{{ stylesheet_directory_uri }}/img/logo-astratto-b.png{% endif %}"
                             height="50">
                    </a>
                    <button class="navbar-toggler d-block d-lg-none ml-auto hidden-sm-up float-xs-right" type="button"
                            data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()"> <i
                                    class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarResponsive">
                        {% include "/views/headers/header-2/header-2-menu.twig" with {'primary_menu': primary_menu.get_items} %}
                    </div>
                </nav>
                <!-- /.menu -->

            </div>

    </div>
</section>
<section class="shadow-sm sticky-fix sticky" id="header-2">
    <div class="container ">
        <div class="row">

        {# A_SETTINGS menu #}
                <nav class="container navbar navbar-expand-lg static-top">
                    <a class="navbar-brand" href="{{ home }}">
                        <img class="logo"
                             src="{% if custom_logo_url %}{{ custom_logo_url }}{% else %}{{ stylesheet_directory_uri }}/img/logo-astratto-v2-b.png{% endif %}"
                             height="20">
                    </a>
                    <button class="navbar-toggler d-block d-lg-none ml-auto hidden-sm-up float-xs-right" type="button"
                            data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()"> <i
                                    class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarResponsive">
                        {% include "/views/headers/header-2/header-2-menu.twig" with {'primary_menu': primary_menu.get_items} %}
                    </div>
                </nav>
                <!-- /.menu -->


        </div>
    </div>
</section>

<style>





</style>