{# Section #carousel-owl-double #}
<div class="container-fluid bg-light my-5" id="carousel-owl-double">
    <div class="row">
        <div class="col-12 my-5">
            <h1>Section #carousel-owl-double</h1>
            <p>id: #carousel-owl-double</p>
        </div>
        <div class="col-12 col-md-6 my-5">
            <div id="carousel-owl-1" class="owl-carousel d-none d-md-block">
                {% for item_post in archive_posts %}
                    <div class="row">
                        <div class="col-12">
                            <p class="news-date py-3 pb-md-3">{{ item_post.published_at|date("d F Y") }}</p>
                            <h3 class="news-title pb-3"><a href="{{ item_post.link }}">{{ item_post.title }}</a>
                            </h3>
                            <p class="news-preview pb-3">{{ item_post.preview.read_more('...') }}</p>
                            <div class="button mt-5"><a href="{{ item_post.link }}">Continua a leggere</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 pt-lg-6 my-5 pb-5">
            <div id="carousel-owl-2" class="owl-carousel ">
                {% for item_post in archive_posts %}
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ item_post.link }}">
                                <div class="img-blog-list ">
                                    <div class="inner-img-blog-list m-2"
                                         style="background-image: url('{% if item_post.thumbnail %}{{ item_post.thumbnail.src|resize(800,600) }}{% else %}{{ placeholder }}/random/800x600{% endif %}');">
                                        {{ item_post.title }}
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 d-block d-md-none">
                            <p class="news-date py-3 pb-md-3">{{ item_post.published_at|date("d F Y") }}</p>
                            <h3 class="news-title pb-3"><a href="{{ item_post.link }}">{{ item_post.title }}</a>
                            </h3>
                            <p class="news-preview pb-3">{{ item_post.preview.read_more('...') }}</p>
                            <div class="button mt-5"><a href="{{ item_post.link }}">Continua a leggere</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>


    #carousel-owl-double button:focus,
    #carousel-owl-double button:focus-visible {
        outline: none;
    }

    /* owl-nav */
    #carousel-owl-double .owl-nav {
        position: absolute;
        right: 0;
    }

    #carousel-owl-double #carousel-owl-2 .owl-nav button svg {
        font-size: 40px;
        text-align: right;
        margin: 20px;
    }


    #carousel-owl-double .img-blog-list {
        border: solid 2px var(--a5t-secondary);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #carousel-owl-double .img-blog-list:hover {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: var(--a5t-secondary);
    }

    #carousel-owl-double .inner-img-blog-list {
        height: 550px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-blend-mode: multiply;
        background-color: transparent;
    }

    #carousel-owl-double .img-blog-list:hover .inner-img-blog-list {
        background-color: var(--a5t-primary);

        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

</style>
<script type="text/javascript">

    var o2 = $('#carousel-owl-2')
    var o2settings = {
        items: 1,
        singleItem: true,
        loop: true,
        margin: 10,
        dots: false,
        pagination: false,


        nav: true,
        navText: ["", "<i class='fa fa-chevron-right'></i>"],

        touchDrag: false,
        slideBy: 1,
        mouseDrag: false
    };
    o2.owlCarousel(o2settings);

    var o1 = $('#carousel-owl-1');
    o1.owlCarousel({
        items: 1,
        singleItem: true,
        loop: true,
        margin: 0,
        dots: false,
        pagination: false,

        nav: false,

        touchDrag: false,
        slideBy: 1,
        mouseDrag: false,
    });

    var o1 = $('#carousel-owl-1'),
        o2 = $('#carousel-owl-2');

    //Sync o2 by o1
    o1.on('click onDragged', '.owl-next', function() {
        o2.trigger('next.owl.carousel')
    });

    o1.on('click dragged.owl.carousel', '.owl-prev', function() {
        o2.trigger('prev.owl.carousel')
    });

    // o1.on('click dragged.owl.carousel', '.owl-prev', function() {
    //     o2.trigger('prev.owl.carousel')
    // });

    //Sync o1 by o2
    o2.on('click onDragged', '.owl-next', function() {
        o1.trigger('next.owl.carousel')
    });

    o2.on('click dragged.owl.carousel', '.owl-prev', function() {
        o1.trigger('prev.owl.carousel')
    });





</script>
{# end Section #carousel-owl-double   #}