{# Section #section-carousel-gallery-lightbox #}
<div class="container-fluid bg-dark text-light p-5">
    <div class="row">
        <div class="col-12 py-5">
            <h1>Section section-carousel-gallery-lightbox</h1>
            <p>id #section-carousel-gallery-lightbox</p>
        </div>
        <div class="col-12 py-5 text-center">
            <div class="owl-carousel" id="section-carousel-gallery-lightbox">
                {% for image_gallery in  post.get_field('section_gallery') %}
                    {% set attachment = TimberPost(image_gallery.id) %}
                    {% set height = TimberImage(image_gallery.id).height %}
                    {% set width = TimberImage(image_gallery.id).width %}
                    {% set sizewh = height / width %}
                    {% if sizewh > 0.80 %}
                        <a class="item item-img-gallery img-600 {{ sizewh }} {{ width }} {{ height }}"
                           data-lightbox-gallery="item-gallery" href="{{ TimberImage(image_gallery.id).src }}"
                           title="h:{{ height }},w:{{ width }},sizewh:{{ sizewh }}" >
                            <img src="{{ TimberImage(image_gallery.id).src|resize(600, 400) }}" alt=""
                                 class="img-fluid">
                            <p>h:{{ height }},w:{{ width }},sizewh:{{ sizewh }}</p>
                        </a>
                    {% else %}
                        <a class="item item-img-gallery img-400 {{ sizewh }} {{ width }} {{ height }}"
                           data-lightbox-gallery="item-gallery" href="{{ TimberImage(image_gallery.id).src }}"
                           title="h:{{ height }},w:{{ width }},sizewh:{{ sizewh }}" >
                            <img src="{{ TimberImage(image_gallery.id).src|resize(400, 400) }}" alt=""
                                 class="img-fluid">
                            <p>h:{{ height }},w:{{ width }},sizewh:{{ sizewh }}</p>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#section-carousel-gallery-lightbox").owlCarousel({
            loop: true,
            autoWidth: true,
            items: 3,
            dots: true,
            center: true
        });
    });
    $(document).ready(function () {
        $('.item-img-gallery').nivoLightbox({

            // The effect to use when showing the lightbox
            // fade, fadeScale, slideLeft, slideRight, slideUp, slideDown, fall
            effect: 'slideUp',

            // The lightbox theme to use
            theme: 'default',

            // Enable/Disable keyboard navigation
            keyboardNav: true,

            // Click image to close
            clickImgToClose: false,

            // Click overlay to close
            clickOverlayToClose: true,

            // Callback functions
            onInit: function(){},
            beforeShowLightbox: function(){},
            afterShowLightbox: function(lightbox){},
            beforeHideLightbox: function(){},
            afterHideLightbox: function(){},
            beforePrev: function(element){},
            onPrev: function(element){},
            beforeNext: function(element){},
            onNext: function(element){},

            // Error message
            errorMessage: 'The requested content cannot be loaded. Please try again later.'

        });
    });

</script>
<style>

    #section-carousel-gallery-lightbox .img-400 img {
        width: 200px;
    }

    #section-carousel-gallery-lightbox .img-600 img {
        width: 300px;
    }

    @media (min-width: 768px) {
        #section-carousel-gallery-lightbox .img-400 img {
            width: 400px;
        }

        #section-carousel-gallery-lightbox .img-600 img {
            width: 600px;
        }
    }


    #section-carousel-gallery-lightbox .owl-dots {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0;
    }

    #section-carousel-gallery-lightbox .owl-nav button.owl-next,
    #section-carousel-gallery-lightbox .owl-nav button.owl-prev,
    #section-carousel-gallery-lightbox button.owl-dot {
        background: var(--a5t-primary);
        width: 12px;
        height: 12px;
        margin: 8px;
        border-radius: 50%;
    }

    #section-carousel-gallery-lightbox button.owl-dot.active {
        background: var(--a5t-secondary);
    }
</style>
{# end Section #section-carousel-gallery-lightbox   #}