{# Section #section-faq-list #}
<div class="container my-5 bg-light">
    <div class="row ">
        <div class="col-12 my-5">
            <h1>Section #section-faq-list</h1>
            <p>id: #section-faq-list</p>
        </div>
        <section id="section-faq-list-search">
            <div class="col-12 my-5">
                <div class="container" id="search_list">
                    <div class="row">
                        <div class="col-12">
                            <input class="search" placeholder="Come possiamo aiutarti?"/>
                            <hr>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <ul class="list p-0 w-100">
                                    {% for faq in section_list_faq %}
                                        {% for questions in faq.section_list_faq_questions %}
                                            <li class="item-search">
                                                <div class="col-12 col-md-12 pt-4">
                                                    <div class="row collapsed "
                                                         id="heading_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                         data-toggle="collapse"
                                                         data-target="#collapse_search_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                         aria-expanded="true"
                                                         aria-controls="collapse_search_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}">
                                                        <div class="col-9">
                                                            <h5 class="search_question p-0 m-0">{{ questions.question }} </h5>
                                                            <p class="color-{{ faq.section_list_faq_args_color }} a5t-p-sm">{{ faq.section_list_faq_args }}</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 class="text-right color-{{ faq.section_list_faq_args_color }}">
                                                                <i
                                                                        class="far fa-question-circle"></i></h3>
                                                        </div>

                                                    </div>
                                                    <div id="collapse_search_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                         class="collapse  "
                                                         aria-labelledby="heading_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                         data-parent="#accordion">
                                                        <div class="pb-4 search_answer">
                                                            <hr>
                                                            {{ questions.answer }}
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr>
                            <ul class="pagination pagination-list-js"></ul>
                        </div>
                        <style>
                            #search_list .search {
                                font-size: 30px;
                                line-height: 35px;
                            }

                            .item-search {
                                display: inline-block;
                                width: 100%;
                            }

                            .pagination-list-js li {
                                background: var(--elit-blu-primary);
                                color: #fff;
                                margin-right: 5px;
                                padding: 5px;
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                text-align: center;
                            }

                            .pagination-list-js li.active {
                                background: var(--elit-magenta-primary);
                            }

                            .pagination-list-js li a {
                                color: #fff;
                            }

                            .pagination-list-js li a:hover {
                                color: #fff;
                            }
                        </style>
                        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                var options = {
                                    valueNames: ['search_question', 'search_answer'],
                                    page: 3,
                                    pagination: true
                                };
                                var userList = new List('search_list', options);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-faq-list">
            <div class="col-12">
                <div id="accordion">
                    <div class="row">
                        {% for faq in section_list_faq %}
                            <div class="col-12 col-md-12 pt-5">
                                <h2 class="color-{{ faq.section_list_faq_args_color }}">{{ faq.section_list_faq_args }}</h2>
                            </div>
                            <div class="col">
                                <div class="row">
                                    {% for questions in faq.section_list_faq_questions %}
                                        <div class="col-12 col-md-6">
                                            <div class="row {% if loop.index != 1 %} collapsed {% endif %}"
                                                 id="heading_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                 data-toggle="collapse"
                                                 data-target="#collapse_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                 aria-expanded="true"
                                                 aria-controls="collapse_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}">
                                                <div class="col-9 pt-3">
                                                    <h5>{{ questions.question }} </h5>
                                                </div>
                                                <div class="col-3 pt-3">
                                                    <h3 class="text-right color-{{ faq.section_list_faq_args_color }}">
                                                        <i
                                                                class="far fa-question-circle"></i></h3>
                                                </div>
                                            </div>
                                            <div id="collapse_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                 class="collapse {% if loop.index == 1 %} show {% endif %}"
                                                 aria-labelledby="heading_{{ faq.section_list_faq_args|replace({' ': ''}) }}_{{ loop.index }}"
                                                 data-parent="#accordion">
                                                <div class="pb-2">
                                                    <hr>
                                                    {{ questions.answer }}
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="my-1 col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <p class="field-form">Selezione tipologia [select tipologia include_blank "Offerte Casa" "Offerte Business" "Offerte
        Condomini"]</p>
</div>


{# end Section #section-faq-list #}
