{# Section Gmaps #}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Gmaps</h1>
            <p>In questa zione trovi due esempi di mappa con singole e multi marcatore</p>
        </div>
        <div class="col-md-6">
            <h2>Gmaps Multi Marker</h2>
            <script type="text/javascript" src="{{ googleapis }}"></script>
            <script type="text/javascript">

                // When the window has finished loading create our google map below
                google.maps.event.addDomListener(window, 'load', init);

                function init() {

                    // Create the Google Map using our element and options defined above
                    var locations = [
                        ['Bondi Beach', 'ciaoooo', -33.890542, 151.274856, 4],
                        ['Coogee Beach', 'ciaoooo2', -33.923036, 151.259052, 5],
                        ['Cronulla Beach', 'ciaoooo3', -34.028249, 151.157507, 3],
                        ['Manly Beach', 'ciaoooo4', -33.80010128657071, 151.28747820854187, 2],
                        ['Maroubra Beach', 'ciaoooo33', -33.950198, 151.259302, 1]
                    ];

                    // Use ACF with repeater
                    var locations = [
                            {% for map in mappa %}['{{ map.titolo }}', '{{ map.descrizione }}',  {{ map.location.lat }} ,  {{ map.location.lng }} , 4],{% endfor %}
                    ];

                    // Basic options for a simple Google Map

                    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions

                    // Get the HTML DOM element that will contain your map

                    // We are using a div with id="map" seen below in the <body>
                    var map = new google.maps.Map(document.getElementById('example_gmaps_multi_marker'), {

                        // How zoomed in you want the map to start at (always required)
                        zoom: {{ posizionamento.zoom }},

                        // The latitude and longitude to center the map (always required)
                        center: new google.maps.LatLng(-33.92, 151.25),

                        // center: new google.maps.LatLng({#{{ posizionamento.lat }}, {{ posizionamento.lng }}#}),

                        // Disable standard UI of Gmaps
                        disableDefaultUI: true,

                        // How you would like to style the map.

                        // This is where you would paste any style found on Snazzy Maps.
                        styles: [
                            {
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#004358"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#fd7400"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "lightness": -20
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "lightness": -17
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "color": "#ffffff"
                                    },
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "weight": 0.9
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#ffffff"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "lightness": -10
                                    }
                                ]
                            },
                            {},
                            {
                                "featureType": "administrative",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "weight": 0.7
                                    }
                                ]
                            }
                        ]
                    });

                    var infowindow = new google.maps.InfoWindow();

                    var marker, i;


                    // Setting img form a marker
                    const image = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";


                    // Let's also add a marker while we're at it
                    for (i = 0; i < locations.length; i++) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i][2], locations[i][3]),
                            map: map,
                            icon: image,

                            // Label for marker
                            label: {
                                text: locations[i][0], // icon code
                                fontWeight: '900', // careful! some icons in FA5 only exist for specific font weights
                                color: '#FDC75A', // color of the text inside marker
                            },
                        });


                        // Open a window of marker
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                var name = (locations[i][0]);
                                var address = (locations[i][1]);
                                var html = "<b>" + name + "</b> <br/>" + address;
                                infowindow.setContent(html);
                                infowindow.open(map, marker, html);
                            }
                        })(marker, i));
                    }
                }
            </script>
            <style type="text/css">
                /* Set a size for our map container, the Google Map will take up 100% of this container */
                #example_gmaps_multi_marker {
                    width: 100%;
                    height: 400px;
                }
            </style>
            <div id="example_gmaps_multi_marker"></div>
        </div>
        <div class="col-md-6">
            <h2>Gmaps Multi Marker</h2>
            <script type="text/javascript">

                // When the window has finished loading create our google map below
                google.maps.event.addDomListener(window, 'load', init);

                function init() {

                    // Basic options for a simple Google Map
                    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                    var mapOptions = {

                        // How zoomed in you want the map to start at (always required)
                        zoom: 13,

                        // Disable standard UI of Gmaps
                        disableDefaultUI: true,

                        // The latitude and longitude to center the map (always required)
                        center: new google.maps.LatLng(45.4860663, 9.2064991),

                        // How you would like to style the map.

                        // This is where you would paste any style found on Snazzy Maps.
                        styles: [
                            {
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#004358"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#fd7400"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "lightness": -20
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "lightness": -17
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "color": "#ffffff"
                                    },
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "weight": 0.9
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#ffffff"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "lightness": -10
                                    }
                                ]
                            },
                            {},
                            {
                                "featureType": "administrative",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#1f8a70"
                                    },
                                    {
                                        "weight": 0.7
                                    }
                                ]
                            }
                        ]

                    };

                    // Get the HTML DOM element that will contain your map

                    // We are using a div with id="map" seen below in the <body>
                    var mapElement = document.getElementById('example_gmaps_single_marker');


                    // Create the Google Map using our element and options defined above
                    var map = new google.maps.Map(mapElement, mapOptions);


                    // Setting img form a marker
                    const image = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";


                    // Let's also add a marker while we're at it
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(45.4860663, 9.2064991),
                        map: map,
                        title: '{{ setting_intestazione }}',
                        icon: image,
                    });
                }
            </script>
            <style type="text/css">
                /* Set a size for our map container, the Google Map will take up 100% of this container */
                #example_gmaps_single_marker {
                    width: 100%;
                    height: 400px;
                }
            </style>
            <div id="example_gmaps_single_marker"></div>
        </div>
    </div>
</div>
{# end Section Gmaps #}
