{% if primary_menu %}
	<ul id="primary-menu" class="nav navbar-nav ml-auto">
		{% for item in primary_menu %}
			{% if (item.get_children) %}
				<li class="dropdown nav-item {{ item.classes | join(' ') }}">
					<a href="{{ item.get_link }}">
						<span data-letters="{{ item.title }}">{{ item.title }}</span>
					</a>
					<ul class="dropdown-menu">
						{% for subitem in item.get_children %}
							{% if (subitem.get_children) %}
								<li class="dropdown nav-item {{ subitem.classes | join(' ') }}">
									<a href="#"
									   class="dropdown-toggle"
									   data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true"
									   aria-expanded="false">
										<span data-letters="{{ subitem.title }}">{{ subitem.title }}</span>
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										{% for subsubitem in subitem.get_children %}
											{% if (subsubitem.get_children) %}
											{% else %}
												<li class="{{ subsubitem.classes | join(' ') }}">
													<a href="{{ subsubitem.get_link }}">
														<span data-letters="{{ subsubitem.title }}">{{ subsubitem.title }}</span>
													</a>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li class="{{ subitem.classes | join(' ') }}">
									<a href="{{ subitem.get_link }}">
										<span data-letters="{{ subitem.title }}">{{ subitem.title }}</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% else %}
				<li class="{{ item.classes | join(' ') }}">
					<a href="{{ item.get_link }}">
						<span data-letters="{{ item.title }}">{{ item.title }}</span>
					</a>
					{% include "/views/headers/header-1/header-1-menu.twig" with {'primary_menu': item.get_children} %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}



