{# ::::::::::::::  * A_SETTINGS html-header #}
{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
{# :::::::::::::: end * A_SETTINGS html-header #}

{# ::::::::::::::  * A_SETTINGS body #}
<body class="{{ body_class }}">

{# ::::::::::::::  * A_SETTINGS gototop active #}
{% if a5t_setting_gototop %}
    {% include 'partial/gototop.twig' %}
{% endif %}
{# :::::::::::::: end * A_SETTINGS gototop active #}

{# ::::::::::::::  * A_SETTINGS activations magicmouse_active, butter-active #}
<div class="main">

    {# :::::::::::::: 11 * A_SETTINGS loader #}
    <div id="loader-wrapper">
        <div id="loader">
            {# :::::::::::::: 11 * A_SETTINGS a5t-spinners-balls https://codepen.io/a5tratto/full/OJjLyBZ #}
            <div class="a5t-loader-spinners-balls">
                <div class="a5t-spinners-balls-1"></div>
                <div class="a5t-spinners-balls-2"></div>
            </div>
            {# :::::::::::::: end * A_SETTINGS a5t-spinners-balls #}
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <img class="logo-loader"
             src="{% if custom_logo_url %}{{ custom_logo_url }}{% else %}{{ stylesheet_directory_uri }}/img/icona-a5tratto-w.png{% endif %}"
             height="80">
    </div>
    {# :::::::::::::: 11 * A_SETTINGS loader #}

    {# ::::::::::::::  * A_SETTINGS header #}
    <header>
        {% block header %}
            {% include "headers/header-2/header-2.twig" %}
        {% endblock %}
    </header>
    {# :::::::::::::: end * A_SETTINGS header #}


    {# ::::::::::::::  * A_SETTINGS content id:main-content #}
    <section id="main-content" role="main" class="content-wrapper">

        {# <div class="{{ main_container }}"> #}


        {% block content %}
            Sorry, no content
        {% endblock %}

        {# <div class="row">
                <!-- Page Content Column -->
                <div class="{% if sidebar_primary %} col-md-8 {% else %} col-md-12 {% endif %}">
                    {% block content %}
                        Sorry, no content
                    {% endblock %}
                </div>
                {% if sidebar_primary %}
                    <!-- Sidebar Widgets Column -->
                    <div class="col-md-4">
                        <aside class="layout-sidebar">
                            <h2>sidebar {{ sidebar_class }}</h2>
                            {{ sidebar_primary }}
                        </aside>
                    </div>
                {% endif %}
            </div> #}


        {# ::::::::::::::  * A_SETTINGS pre_footer #}
        {% if pre_footer %}
            <div class="row">
                <section class="bg-primary">
                    <div class="container ">
                        {{ pre_footer }}
                    </div>
                </section>
            </div>
        {% endif %}
        {# :::::::::::::: end * A_SETTINGS pre_footer #}

        {# ::::::::::::::  * A_SETTINGS footer #}
        {% block footer %}
            <footer id="footer" class="bg-black-20">
                {% include 'footer.twig' %}
            </footer>
        {% endblock %}
        {# :::::::::::::: end * A_SETTINGS footer #}


    </section>
    {# :::::::::::::: end * A_SETTINGS content id:main-content #}

</div>
{# :::::::::::::: end * A_SETTINGS activations magicmouse_active, butter-active #}

{# ::::::::::::::  * A_SETTINGS footer #}
{{ function('wp_footer') }}
{# :::::::::::::: end * A_SETTINGS footer #}

</body>
{# :::::::::::::: end * A_SETTINGS body #}
