{# A_SETTINGS html header #}
<!-- html -->
{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

{# A_SETTINGS body #}
<body class="{{ body_class }}" {# A_SETTINGS attivazione butter-js #} {% if a5t_setting_butter %} id="butter" {% endif %}
      data-template="base.twig">

{# A_SETTINGS attivazione Go To Top Button #}
{% if a5t_setting_gototop %}
    {% include 'partial/gototop.twig' %}
{% endif %}

{# A_SETTINGS attivazione butter-js, magic_mouse-js #}
<div class="{% if a5t_setting_magic_mouse %} magicmouse_active {% endif %}" {% if a5t_setting_butter %} id="butter-active" {% endif %} >

    {# A_SETTINGS loader #}
    <!-- loader-->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <img class="logo-loader"
             src="{% if custom_logo_url %}{{ custom_logo_url }}{% else %}{{ stylesheet_directory_uri }}/img/icona-a5tratto-w.png{% endif %}"
             height="80">
    </div>
    <!-- /.loader -->


    {# A_SETTINGS header #}
    <!-- header -->
    <header>
        {% block header %}
            {% include "headers/header-2/header-2.twig" %}
        {% endblock %}
    </header>
    <!-- /.header -->
    {# end A_SETTINGS header#}


    {# A_SETTINGS content #}
    <!-- main content -->
    <section id="main-content" role="main" class="content-wrapper">

        {#<div class="{{ main_container }}">#}

        <div class=" ">


            {% block content %}
                Sorry, no content
            {% endblock %}

            {#<div class="row">
                <!-- Page Content Column -->
                <div class="{% if sidebar_primary %} col-md-8 {% else %} col-md-12 {% endif %}">
                    {% block content %}
                        Sorry, no content
                    {% endblock %}
                </div>
                {% if sidebar_primary %}
                    <!-- Sidebar Widgets Column -->
                    <div class="col-md-4">
                        <aside class="layout-sidebar">
                            <h2>sidebar {{ sidebar_class }}</h2>
                            {{ sidebar_primary }}
                        </aside>
                    </div>
                {% endif %}
            </div>#}
            <div class="row">
                <!-- Pre Footer -->
                {% if pre_footer %}
                    <section class="bg-primary">
                        <div class="container ">
                            {{ pre_footer }}
                        </div>
                        <!-- /.container -->
                    </section>
                {% endif %}
                <!-- /.pre footer -->

            </div>
            <!-- /.row -->

            {# A_SETTINGS footer #}
            <!-- footer -->
            {% block footer %}
                <footer id="footer" class="bg-primary">
                    {% include 'footer.twig' %}
                </footer>
            {% endblock %}
            <!-- /.footer -->
            {# end A_SETTINGS footer #}

        </div>
        <!-- /.page container -->


    </section>
    <!-- /.main content -->
    {# end A_SETTINGS content #}


</div>
{#  end A_SETTINGS attivazione butter-js #}

{# A_SETTINGS footer #}
{{ function('wp_footer') }}
{# end A_SETTINGS footer #}

</body>
<!-- /.body -->
{# end A_SETTINGS body #}


</html>
<!-- /.html -->
{# end A_SETTINGS html #}{# end A_SETTINGS html #}