{% extends "index.twig" %}
{% block content %}
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <section class="section-category">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2 my-2">
                        <h1>Category</h1>
                        <h2>{{ title }}</h2>
                        {{ term.description }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% if parents %}
                        <div class="col-12 col-md-6">
                            <h3>Categorie Parent </h3>
                            <ul>
                                {% for parent in parents %}
                                    <li>
                                        <a href="{{ parent.link }}">
                                            <b>{{ parent.name }}</b>
                                        </a><br>
                                        Descrizione {{ parent.description }}<br>
                                        Field parent: {{ function('get_field', 'field_name', parent) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if childs %}
                        <div class="col-12 col-md-6">
                            <h3>Categorie Child </h3>
                            <ul>
                                {% for child in childs %}
                                    <li>
                                        <a href="{{ child.slug }}">
                                            <b>{{ child.name }}</b>
                                        </a><br>
                                        Descrizione {{ child.description }}<br>
                                        Field parent: {{ function('get_field', 'field_name', child) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2 my-2 bg-light ">
                        <label>Vista dei risultati da <b>{{ startpost }}</b> a <b>{{ endpost }}</b> di
                            <b>{{ found_posts }}</b> </label>
                    </div>
                    {% for post in posts %}
                        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    {% endfor %}
                    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
                </div>
            </div>
        </section>
    </article>
{% endblock %}