 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget padding-30">
                {{footer_col_1}}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget padding-30">
                {{ footer_col_2 }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget padding-30">
                {{ footer_col_3 }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget padding-30">
                {{ footer_col_4 }}
            </div>
        </div>
</div>
 <section class="">
        <div class="container footer-bottom">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {{ footer_bottom }} <br>
                    Intestazione {{ setting_intestazione }} P.IVA {{ setting_piva }} <i class="fas fa-map-marker-alt"></i> {{ setting_indirizzo }} <i class="fas fa-at"></i> {{ setting_mail }} <i class="fas fa-phone"></i> {{ setting_telefono }}<br>
                    Copyright {{"now"|date('Y')}} - <a href="{{ home }}/privacy-policy/">Privacy Policy</a> - <a href="{{ home }}/cookie-policy/">Cookie Policy</a> - <a target="_black" title="A5TRATTO - Concrete Communication - Agenzia di Comunicazione a Brescia" href="https://www.a5tratto.it">A5TRATTO Concrete Communication</a>
                </div>
            </div>
        </div>
 </section>
