<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><html class="no-js" {{ site.language_attributes }}><![endif]-->
<head>

    {# ::::::::::::::  * A_SETTINGS SEO Yoast Setting #}
    <meta charset="{{ site.charset }}"/>
    <title>
        {% if metatitle %}
            {{ metatitle }}
        {% elseif wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description"
          content="{% if metadesc %}{{ metadesc }}{% elseif content %}{{ content|striptags| slice (0, 300) }}{% else %}{{ site.description }}{% endif %}">
    {# :::::::::::::: end * A_SETTINGS SEO Yoast Setting #}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
    <link rel="pingback" href="{{ site.pingback_url }}"/>

    {# :::::::::::::: * A_SETTINGS Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {# <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> #}
    <link href="https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    {# :::::::::::::: end * A_SETTINGS Google Fonts #}

    {# ::::::::::::::  * A_SETTINGS Favicon
    :::::::::::::::::  https://www.favicon-generator.org #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.theme.link }}/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.link }}/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.theme.link }}/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {# ::::::::::::::  * A_SETTINGS Favicon #}

    {# ::::::::::::::  * A_SETTINGS wp_head #}
{{ function('wp_head') }}