{% extends "base.twig" %}
{% block content %}
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
        <section class="section-home">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2 my-2">
                        <h1>Home page</h1>
                        {{ dump( custom_logo_url[0]) }}
                    </div>
                    <div class="col-12 py-2 my-2">
                        <img src="{{ placeholder }}/1400x600/?wordpress" alt="" class="img-fluid">
                    </div>
                    <div class="col-12 py-2 my-2">
                        {{ content }}
                    </div>

                    <div class="col-12">
                        <hr>
                        <h1>Typography Headings</h1>
                    </div>
                    <div class="col-12">
                        <h1>h1. Bootstrap heading</h1>
                        <h2>h2. Bootstrap heading</h2>
                        <h3>h3. Bootstrap heading</h3>
                        <h4>h4. Bootstrap heading</h4>
                        <h5>h5. Bootstrap heading</h5>
                        <h6>h6. Bootstrap heading</h6>
                    </div>
                    <div class="col-12">
                        <hr>
                        <h1>Typography Headings Display</h1>
                    </div>
                    <div class="col-12">
                        <h1 class="display-1">Display 1</h1>
                        <h1 class="display-2">Display 2</h1>
                        <h1 class="display-3">Display 3</h1>
                        <h1 class="display-4">Display 4</h1>
                    </div>
                    <div class="col-12">
                        <hr>
                        <h1>Typography Inline text elements</h1>
                    </div>
                    <div class="col-12">
                        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                        <p><del>This line of text is meant to be treated as deleted text.</del></p>
                        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                        <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                        <p><u>This line of text will render as underlined</u></p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p><strong>This line rendered as bold text.</strong></p>
                        <p><em>This line rendered as italicized text.</em></p>
                        <p><abbr title="attribute">attr</abbr></p>
                        <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
                        <blockquote class="blockquote">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </blockquote>
                        <blockquote class="blockquote">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                    <div class="col-12">
                        <hr>
                        <h1>Typography List</h1>
                    </div>
                    <div class="col-12">
                        <ul class="list-unstyled">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">Lorem ipsum</li>
                            <li class="list-inline-item">Phasellus iaculis</li>
                            <li class="list-inline-item">Nulla volutpat</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <hr>
                        <h1>Buttons</h1>
                    </div>
                    <div class="col-12 col-md-6">
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
                        <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Primary link</a>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                        <button type="button" class="btn btn-secondary btn-sm">Small button</button>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-lg btn-secondary" disabled>Secondary button</button>
                        <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Secondary link</a>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <button type="button" class="btn btn-tertiary">Tertiary</button>
                        <button type="button" class="btn btn-outline-tertiary">Tertiary</button>
                        <button type="button" class="btn btn-tertiary btn-lg">Large button</button>
                        <button type="button" class="btn btn-tertiary btn-sm">Small button</button>
                        <button type="button" class="btn btn-tertiary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-lg btn-tertiary" disabled>Tertiary button</button>
                        <a href="#" class="btn btn-tertiary btn-lg disabled" role="button" aria-disabled="true">Tertiary link</a>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-tertiary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                            </label>
                            <label class="btn btn-tertiary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                            </label>
                            <label class="btn btn-tertiary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <button type="button" class="btn btn-quaternary">Quaternary</button>
                        <button type="button" class="btn btn-outline-quaternary">Quaternary</button>
                        <button type="button" class="btn btn-quaternary btn-lg">Large button</button>
                        <button type="button" class="btn btn-quaternary btn-sm">Small button</button>
                        <button type="button" class="btn btn-quaternary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-lg btn-quaternary" disabled>Quaternary button</button>
                        <a href="#" class="btn btn-quaternary btn-lg disabled" role="button" aria-disabled="true">Quaternary link</a>
                        <a href="#" class="btn btn-quaternary btn-lg disabled" role="button" aria-disabled="true">Link</a>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-quaternary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                            </label>
                            <label class="btn btn-quaternary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                            </label>
                            <label class="btn btn-quaternary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </article>
{% endblock %}