{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="section-page-{{ post.slug }}">
			<div class="container">
				<div class="row">
					<div class="col-12 py-2 my-2">
						<h1>Page</h1>
						<h2>{{ title }}</h2>
					</div>
					<div class="col-12 py-2 my-2">
						<img src="{{ placeholder }}/1400x600/?wordpress" alt="" class="img-fluid">
					</div>
					<div class="col-12 py-2 my-2">
						{{ content }}
					</div>
				</div>
			</div>
		</section>
	</article>
{% endblock %}