{% extends "index.twig" %}
{% block content %}
    <article class="post-type-{{ post.post_type}}" id="post-{{post.ID}}">
        <section class="section-search">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2 my-2">
                        <h1>Search</h1>
                        <h2>{{ title }}</h2>
                        {{ content }}
                    </div>
                    <div class="col-12 py-2 my-2 bg-light">
                        {% include 'searchform.twig' %}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2 my-2 bg-light ">
                        <label>Vista dei risultati da <b>{{startpost}}</b> a <b>{{endpost}}</b> di <b>{{found_posts}}</b> </label>
                    </div>
                    {% for post in posts %}
                        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    {% endfor %}
                    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
                </div>
            </div>
        </section>
    </article>
{% endblock %}