{% extends "base.twig" %}
{% block content %}
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="post-{{ post.post_type }}-header">
                        <h1>{{ title }}</h1>
                        <p class="post-{{ post.post_type }}-author">
                            Sezione scritta da <a href="{{ post.author.path }}"> {{ post.author.name }} </a>
                        </p>
                        <h5 class="post-{{ post.post_type }}-category">Category:
                            {% for category in post.terms('') %}
                                <a href="{{ category.slug }}"
                                   title="{{ post.title }} - {{ category.name }}">{{ category.name }}</a>
                            {% endfor %}
                        </h5>
                    </section>


                    <div class="post-{{ post.post_type }}-body">
                        {{ post.content }}
                    </div>


                    {% if post.post_type == 'sections' %}
                        <section class="section-post">
                            {% include "views/sections/" ~ post.slug ~ ".twig" %}
                        </section>
                    {% endif %}


                    <!-- comment box -->
                    <section class="comment-box">
                        <!-- comments -->
                        <div class="comments">
                            {% if post.comments %}
                                <h3> comments </h3>
                                {% for cmt in post.comments %}
                                    {% include "comment.twig" with {comment:cmt} %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if post.comment_status == "closed" %}
                            <p> comments for this post are closed </p>
                        {% else %}
                            <!-- comment form -->
                            {% include "comment-form.twig" %}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
