{% extends "base.twig" %}
{% block content %}
    <article class="single  single-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
                    {# Section single-{{ post.post_type }}-header #}
                    <section class="single-{{ post.post_type }}-header">
                        <h1>{{ title }}</h1>
                        <p class="single-{{ post.post_type }}-author pb-3">
                            <b class="text-uppercase">{{ post.post_type }}</b> scritta da <a
                                    href="{{ post.author.path }}"> {{ post.author.name }} </a>
                        </p>
                        <p class="single-{{ post.post_type }}-date pb-3">
                            Data {{ post.published_at|date("d/M/Y g:ia") }}
                        </p>

                        <h5 class="single-{{ post.post_type }}-category">Category:
                            {% for category in post.terms('category') %}
                                <a href="{{ category.link }}"
                                   title="{{ post.title }} - {{ category.name }}">{{ category.name }}</a>
                            {% endfor %}
                        </h5>

                        <h5 class="single-{{ post.post_type }}-tag">Tag:
                            {% for tag in post.terms('post_tag') %}
                                <a href="{{ tag.link }}"
                                   title="{{ post.title }} - {{ tag.name }}">{{ tag.name }}</a>
                            {% endfor %}
                        </h5>

                        <h5 class="single-{{ post.post_type }}-tax">Tax:
                            {% for tax in post.terms('custom_taxonomy') %}
                                <a href="{{ tax.link }}"
                                   title="{{ post.title }} - {{ tax.name }}">{{ tax.name }}</a>
                            {% endfor %}
                        </h5>

                    </section>
                    {# .end Section single-{{ post.post_type }}-header #}


                    <div class="single-{{ post.post_type }}-body">
                        {{ post.content }}
                    </div>


                    {% if post.post_type == 'sections' %}
                        <section class="section-post">
                            {% include "views/sections/" ~ post.slug ~ ".twig" %}
                        </section>
                    {% endif %}
                    eee
                    <div class="comments">
                        {% for comment in post.comments %}
                            <article class="comment" id="comment-{{ comment.id }}">
                                <h5 class="comment-author">{{ comment.author.name }} says</h5>
                                {{ comment.content }}
                            </article>
                        {% endfor %}
                        {{ function('comment_form') }}
                    </div>

                    eeee
                    <!-- comment box -->
                    <section class="comment-box">
                        <!-- comments -->
                        <div class="comments">
                            {% if post.comments %}
                                <h3> Comments </h3>
                                {% for cmt in post.comments %}
                                    {% include "comment.twig" with {comment:cmt} %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if post.comment_status == "closed" %}
                            <p> Comments for this post are closed </p>
                        {% else %}
                            <!-- comment form -->
                            {% include "comment-form.twig" %}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
